XMLSchema/BarristerReportSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" elementFormDefault="qualified"
    xmlns:pr="http://prosecute.github.io/XMLSchema" vc:minVersion="1.1">
    <xs:import namespace="http://prosecute.github.io/XMLSchema"
        schemaLocation="ProsecutorCoreSchema.xsd"/>
    <xs:element name="TestResult">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Trials">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Trial" type="pr:TrialConfiguration"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Tokens"/>
                <xs:element name="Matches">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Match" type="pr:Match"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Errors">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Error">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute name="errorType"/>
                                            <xs:attribute name="level"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
